:root {
    --color-general: #FF1720;
    --color-general2: #707070 !important;
    --text-general: #000000;
    --color-light: #F5F5F5;
    --color-db: #DBDBDB;

    /* Old */
    
    --gr-general: linear-gradient(to bottom, #03D6BC, #0D4DFF);
    --gr-r-general: linear-gradient(90deg, #03D6BC 0%, #0D4DFF 100%);
    --gr-ro-general: linear-gradient(90deg, #03D6BC50 0%, #0D4DFF50 100%);
    --gr-red: linear-gradient(to bottom, #FF9D32, #FF2525);
    --gr-r-red: linear-gradient(to right, #FF9D32, #FF2525);
    --gr-purple: linear-gradient(to bottom, #D603D6, #550DFF);
    --gr-r-purple: linear-gradient(to right, #D603D6, #550DFF);
    --gr-pink: linear-gradient(to bottom, #FC006D, #B20289);
    --gr-r-pink: linear-gradient(to right, #FC006D, #B20289);
}
